/* Text */
@import url(https://fonts.googleapis.com/css?family=Cambay:400,700);
/* line 1, ../sass/base/_header.scss */
.l-header {
  background: url("https://images.unsplash.com/uploads/1413152676137eccd463c/61606b7b?crop=entropy&fit=crop&fm=jpg&h=725&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1300") center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 13, ../sass/base/_header.scss */
.site-name span {
  font-family: "Camby", sans-serif;
  font-weight: 700;
  position: relative;
  font-size: 3em;
  color: #F2F5F5;
}
/* line 20, ../sass/base/_header.scss */
.site-name a {
  text-decoration: none;
}
/* line 22, ../sass/base/_header.scss */
.site-name a:hover {
  color: #D6D9D9;
}

/* line 28, ../sass/base/_header.scss */
.site-slogan {
  font-family: "Camby", sans-serif;
  font-size: 1.5em;
  position: relative;
  color: #F2F5F5;
  text-align: center;
}
/* line 34, ../sass/base/_header.scss */
.site-slogan:hover {
  cursor: inherit;
}

/* line 1, ../sass/base/_navigation.scss */
.hamburger {
  position: absolute;
  display: block;
  top: 2rem;
  right: 0;
  z-index: 10;
}
/* line 7, ../sass/base/_navigation.scss */
.hamburger .hamburger-inner {
  background-color: #fff;
}
/* line 9, ../sass/base/_navigation.scss */
.hamburger .hamburger-inner:before {
  background-color: #fff;
}
/* line 12, ../sass/base/_navigation.scss */
.hamburger .hamburger-inner:after {
  background-color: #fff;
}

/* line 17, ../sass/base/_navigation.scss */
#block-system-main-menu {
  opacity: 0;
}
/* line 19, ../sass/base/_navigation.scss */
#block-system-main-menu .content {
  background-color: black;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 31, ../sass/base/_navigation.scss */
#block-system-main-menu ul li.leaf {
  list-style-image: none;
  list-style-type: none;
}
/* line 36, ../sass/base/_navigation.scss */
#block-system-main-menu ul.menu {
  border: none;
  list-style: none;
  text-align: left;
}
/* line 41, ../sass/base/_navigation.scss */
#block-system-main-menu ul.menu li {
  padding: 1rem;
}
/* line 43, ../sass/base/_navigation.scss */
#block-system-main-menu ul.menu li a {
  position: relative;
  font-family: "Camby", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  font-size: 2.0em;
}
/* line 50, ../sass/base/_navigation.scss */
#block-system-main-menu ul.menu li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
/* line 64, ../sass/base/_navigation.scss */
#block-system-main-menu ul.menu li a:hover {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* line 2, ../sass/components/_button.scss */
button:focus {
  outline: 0;
}
