$white: #F2F5F5;
$black: #062d0a;
$white_hover: #D6D9D9;
$black_hover: #161919;
$accent_color: #adf5b7;
$main-color: #00B285;

$header_color: $white;
$header_hover: $white_hover;

/* Text */

@import url(https://fonts.googleapis.com/css?family=Cambay:400,700);
$cambay: "Camby", sans-serif;

$main_font: $cambay;
