/* Text */
@import url(https://fonts.googleapis.com/css?family=Cambay:400,700);
.l-header {
  width: 100%;
  height: 850px;
  display: flex;
  justify-content: center;
  align-items: center; }

.video-container {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.video-container #heroVideo {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 3; }

.site-name span {
  z-index: 3;
  font-family: "Camby", sans-serif;
  font-weight: 700;
  position: relative;
  font-size: 3em;
  color: #F2F5F5; }

.site-name a {
  text-decoration: none; }
  .site-name a:hover {
    color: #D6D9D9; }

.site-slogan {
  z-index: 3;
  font-family: "Camby", sans-serif;
  font-size: 1.5em;
  position: relative;
  color: #F2F5F5;
  text-align: center; }
  .site-slogan:hover {
    cursor: inherit; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }

.hamburger {
  position: absolute;
  display: block;
  top: 2rem;
  right: 0;
  z-index: 10; }
  .hamburger .hamburger-inner {
    background-color: #fff; }
    .hamburger .hamburger-inner:before {
      background-color: #fff; }
    .hamburger .hamburger-inner:after {
      background-color: #fff; }

.fa {
  color: #F2F5F5;
  position: absolute;
  display: block;
  font-size: 2em;
  left: 49%;
  bottom: 0;
  animation: bounce 2s infinite;
  z-index: 3; }

.about-arrow {
  position: absolute;
  padding-top: 15.5em;
  top: 0; }

#block-system-main-menu {
  opacity: 0; }
  #block-system-main-menu .content {
    background-color: black;
    z-index: 10;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center; }
  #block-system-main-menu ul li.leaf {
    list-style-image: none;
    list-style-type: none; }
  #block-system-main-menu ul.menu {
    border: none;
    list-style: none;
    text-align: left; }
    #block-system-main-menu ul.menu li {
      padding: 1rem; }
      #block-system-main-menu ul.menu li a {
        position: relative;
        font-family: "Camby", sans-serif;
        font-weight: 700;
        text-decoration: none;
        color: #fff;
        font-size: 2.0em; }
        #block-system-main-menu ul.menu li a:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 6px;
          bottom: 0;
          left: 0;
          background-color: #adf5b7;
          visibility: hidden;
          opacity: 0;
          -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
          -webkit-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s; }
        #block-system-main-menu ul.menu li a:hover:before {
          visibility: visible;
          opacity: 0.9;
          -webkit-transform: translateX(0px) skewX(-30deg);
          transform: translateX(0px) skewX(-30deg); }

.view-projects table {
  margin-left: auto;
  margin-right: auto; }

.view-projects tr {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap; }
  .view-projects tr td {
    padding: 0 2px;
    flex: 1 33%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
    .view-projects tr td:hover {
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
    .view-projects tr td:hover .project-title {
      visibility: visible; }

.project-title {
  position: absolute;
  bottom: 0;
  top: 46%;
  width: 100%;
  height: 100%;
  margin-left: 200px;
  visibility: hidden; }

.container {
  padding-top: 10em;
  margin: 1em; }

h1, h2, h3, h4 {
  font-family: "Camby", sans-serif; }

body {
  background-color: #fff;
  width: 100vw;
  overflow-x: hidden; }

button:focus {
  outline: 0; }

.project-section {
  font-size: 2.7em;
  color: #F2F5F5;
  text-align: center;
  margin-bottom: 3.5rem;
  position: relative;
  z-index: 3; }
  .project-section:after, .project-section:before {
    background-color: #222;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 2em; }
  .project-section:after {
    left: 0.5em;
    margin-right: -50%; }
  .project-section:before {
    right: 0.5em;
    margin-left: -50%; }

.skewed-bg {
  background: #00B285;
  padding: 400px 0;
  z-index: 2;
  -webkit-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
  margin-top: -500px;
  position: absolute;
  margin-left: -100px;
  margin-right: -100px;
  left: 0;
  right: 0; }

.projects {
  margin-top: 10rem;
  transform: skew(0deg, 10deg); }

#block-views-about-me-block {
  background-color: #222;
  margin-top: 30em;
  padding-top: 400px;
  padding-bottom: 500px;
  -webkit-transform: skew(0deg, 10deg);
  transform: skew(0deg, 10deg);
  position: absolute;
  margin-left: -100px;
  margin-right: -100px;
  z-index: 1;
  left: 0;
  right: 0; }

.about-section {
  transform: skew(0deg, -10deg);
  font-size: 2.7em;
  color: #F2F5F5;
  text-align: center;
  margin-bottom: 3.5rem;
  position: relative;
  z-index: 1; }
  .about-section:after, .about-section:before {
    background-color: #00B285;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 2em; }
  .about-section:after {
    left: 0.5em;
    margin-right: -50%; }
  .about-section:before {
    right: 0.5em;
    margin-left: -50%; }

.about {
  transform: skew(0deg, -10deg);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap; }
  .about h3 {
    margin-left: 2.1em;
    font-size: 2em;
    color: #00B285; }

.about-header {
  color: #F2F5F5;
  padding: 0 5em; }

.about-body {
  margin-top: 5rem;
  position: absolute;
  color: #F2F5F5; }
  .about-body p {
    font-size: 1.1em;
    margin-top: -2rem;
    padding: 0 8.5em; }

.views-field-field-profile-picture img {
  width: auto;
  height: 300px;
  border-radius: 50%;
  margin-left: -45em;
  padding: 0 5em;
  left: 50%;
  top: 0;
  position: absolute; }
