/* Text */
@import url(https://fonts.googleapis.com/css?family=Cambay:400,700);
.l-header {
  background: url("https://images.unsplash.com/photo-1432383079404-c66efb4828a3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=1721166ddb88c0269bfbb82cc07d488f") center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 650px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.site-name span {
  font-family: "Camby", sans-serif;
  font-weight: 700;
  position: relative;
  font-size: 3em;
  color: #F2F5F5; }

.site-name a {
  text-decoration: none; }
  .site-name a:hover {
    color: #D6D9D9; }

.site-slogan {
  font-family: "Camby", sans-serif;
  font-size: 1.5em;
  position: relative;
  color: #F2F5F5;
  text-align: center; }
  .site-slogan:hover {
    cursor: inherit; }

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  40% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px); }
  60% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px); } }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  40% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px); }
  60% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px); } }

.hamburger {
  position: absolute;
  display: block;
  top: 2rem;
  right: 0;
  z-index: 10; }
  .hamburger .hamburger-inner {
    background-color: #fff; }
    .hamburger .hamburger-inner:before {
      background-color: #fff; }
    .hamburger .hamburger-inner:after {
      background-color: #fff; }

.fa {
  position: absolute;
  display: block;
  top: 24rem;
  right: 10px;
  z-index: 10;
  -webkit-animation: bounce 2s infinite;
          animation: bounce 2s infinite; }

.work {
  position: absolute;
  display: block;
  top: 25.5rem;
  right: 10px;
  z-index: 10; }

#block-system-main-menu {
  opacity: 0; }
  #block-system-main-menu .content {
    background-color: black;
    z-index: 10;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  #block-system-main-menu ul li.leaf {
    list-style-image: none;
    list-style-type: none; }
  #block-system-main-menu ul.menu {
    border: none;
    list-style: none;
    text-align: left; }
    #block-system-main-menu ul.menu li {
      padding: 1rem; }
      #block-system-main-menu ul.menu li a {
        position: relative;
        font-family: "Camby", sans-serif;
        font-weight: 700;
        text-decoration: none;
        color: #fff;
        font-size: 2.0em; }
        #block-system-main-menu ul.menu li a:before {
          content: "";
          position: absolute;
          width: 100%;
          height: 6px;
          bottom: 0;
          left: 0;
          background-color: #adf5b7;
          visibility: hidden;
          opacity: 0;
          -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
          transition: all 0.3s ease-in-out 0s; }
        #block-system-main-menu ul.menu li a:hover:before {
          visibility: visible;
          opacity: 0.9;
          -webkit-transform: translateX(0px) skewX(-30deg);
          transform: translateX(0px) skewX(-30deg); }

.view-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }
  .view-content td {
    -webkit-flex: 33%;
        -ms-flex: 33%;
            flex: 33%; }

.container {
  margin: 1em; }

button:focus {
  outline: 0; }

/*# sourceMappingURL=bench.styles.css.map */
