#block-views-about-me-block{
  background-color: #222;
  margin-top: 40em;
  padding-top: 400px;
  padding-bottom: 500px;
  -webkit-transform: skew(0deg, 10deg);
  transform: skew(0deg, 10deg);
  position: absolute;
  margin-left: -100px;
  margin-right: -100px;
  z-index: 1;
  left: 0;
  right: 0;
  overflow: hidden;
}
.about-me{
  @media(max-width: 400px){
    padding-top: 7em;
  }
}
.about-section{
  transform: skew(0deg, -10deg);
  font-size: 2.7em;
  color: $header_color;
  text-align: center;
  margin-top: -2em;
  margin-bottom: 3.5rem;
  position: relative;
  z-index: 1;
  &:after,
  &:before {
    background-color: $main-color;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 2em;
  }
  &:after{
    left: 0.5em;
    margin-right: -50%;
  }
  &:before{
    right: 0.5em;
    margin-left: -50%;
  }
}

.about {
  transform: skew(0deg, -10deg);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  @media(max-width: 400px){
    padding-top: 15em;
  }
  h3{
    margin-left: 2.1em;
    font-size: 2em;
    color: $main_color;
  }
}
.about-header {
  color: $white;
  padding: 0 5em;
  margin-left: 70vh;
  @media(min-width: 1100px) and (max-width: 1499px){
    padding-top: 20em;
    margin-right: 10em;
    margin-left: -1em;
  }
  @media(max-width: 400px){
    margin-left: -5.7em;
    left: 2em;
  }
}
.about-body {
  margin-top: 5rem;
  position: absolute;
  color: $white;
  margin-top: 1rem;
  margin-left: 70vh;
  @media(min-width: 1100px) and (max-width: 1499px){
    margin-right: 10em;
    margin-left: -1em;
  }
  @media(min-width: 1500px){
    padding-right: 20em;
  }
  @media(max-width: 400px){
    margin-left: -2em;
    left: 2em;
  }
  p{
    font-size: 1.1em;
    margin-top: 1rem;
    padding: 0 8.5em;
  }
}
.views-field-field-profile-picture{
  img {
    width: auto;
    height: 300px;
    border-radius: 50%;
    margin-left: -35em;
    padding: 0 5em;
    left: 50%;
    top: 0;
    position: absolute;
    @media(min-width: 1100px) and (max-width: 1499px){
      left: 70%;
    }
    @media(max-width: 400px){
      padding-top: 1em;
      margin-left: -15em;
      left: none;
    }
  }
}
