#block-views-about-me-block{
  background-color: #222;
  margin-top: 30em;
  padding-top: 400px;
  padding-bottom: 500px;
  -webkit-transform: skew(0deg, 10deg);
  transform: skew(0deg, 10deg);
  position: absolute;
  margin-left: -100px;
  margin-right: -100px;
  z-index: 1;
  left: 0;
  right: 0;
}

.about-section{
  transform: skew(0deg, -10deg);
  font-size: 2.7em;
  color: $header_color;
  text-align: center;
  margin-bottom: 3.5rem;
  position: relative;
  z-index: 1;
  &:after,
  &:before {
    background-color: $main-color;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 2em;
  }
  &:after{
    left: 0.5em;
    margin-right: -50%;
  }
  &:before{
    right: 0.5em;
    margin-left: -50%;
  }
}

.about {
  transform: skew(0deg, -10deg);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  h3{
    margin-left: 2.1em;
    font-size: 2em;
    color: $main_color;
  }
}
.about-header {
  color: $white;
  padding: 0 5em;
}
.about-body {
  margin-top: 5rem;
  position: absolute;
  color: $white;
  p{
    font-size: 1.1em;
    margin-top: -2rem;
    padding: 0 8.5em;
  }
}
.views-field-field-profile-picture{
  img {
    width: auto;
    height: 300px;
    border-radius: 50%;
    margin-left: -45em;
    padding: 0 5em;
    left: 50%;
    top: 0;
    position: absolute;
  }
}
