.project-section{
  font-size: 2.7em;
  color: $header_color;
  text-align: center;
  margin-bottom: 3.5rem;
  position: relative;
  z-index: 1;
}

.skewed-bg {
  background: $main-color;
  padding: 400px 0;
  -webkit-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
  margin-top: -500px;
  position: absolute;
  margin-left: -100px;
  margin-right: -100px;
  left: 0;
  right: 0;
}

.projects {
  margin-top: 10rem;
  transform: skew(0deg, 10deg);
}
