.project-section{
  font-size: 2.7em;
  color: $header_color;
  text-align: center;
  margin-top: -5em;
  margin-bottom: 8.5rem;
  position: relative;
  z-index: 3;
  &:after,
  &:before {
    background-color: #222;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 2em;
  }
  &:after{
    left: 0.5em;
    margin-right: -50%;
  }
  &:before{
    right: 0.5em;
    margin-left: -50%;
  }
  @media(max-width: 400px){
    margin-top: -10em;
    padding-bottom: 3em;
  }
}

.skewed-bg {
  overflow: hidden;
  background: $main-color;
  padding: 400px 0;
  z-index: 2;
  -webkit-transform: skew(0deg, -10deg);
  transform: skew(0deg, -10deg);
  margin-top: -600px;
  position: relative;
  margin-left: -100px;
  margin-right: -100px;
  left: 0;
  right: 0;
  @media(max-width: 400px){
    margin-top: -700px;
  }
}

.projects {
  margin-top: 10rem;
  transform: skew(0deg, 10deg);
}
