.social-media {
	z-index: 4;
  display: flex;
  justify-content: center;
  position: relative;
  top: 20vh;
	@media(max-width: 400px){
		top: 40vh;
	}
  a{
  	padding-left: 3em;
    padding-top: 3em;
  	i{
  		font-size: 4em;
  		color: #222;
  		&:hover{
  			color: $main-color;
  		}
  	}
  }
}

.social-media-icon {
	color: #222;
	display: block;
	font-size: 2em;
	left: 50%;
	z-index: 3;

}

.social-section{
  font-size: 2.7em;
  color: $main-color;
  text-align: center;
  position: relative;
  margin-top: 5em;
  margin-bottom: -5em;
  z-index: 3;
  &:after,
  &:before {
    background-color: #222;
    content: "";
    display: inline-block;
    height: 3px;
    position: relative;
    vertical-align: middle;
    width: 2em;
  }
  &:after{
    left: 0.5em;
    margin-right: -50%;
  }
  &:before{
    right: 0.5em;
    margin-left: -50%;
  }
}
