.view-projects{
  table {
    margin-left: auto;
    margin-right: auto;
  }
  tr {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    td{
      padding: 0 1px;
      min-width: 30%;
      padding-left: 1px;
      -moz-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      @media (max-width: 400px) {
        margin-left: 14em;
        min-width: 100%;
      }
      &:hover {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        @media (max-width: 400px) {
          -moz-transform: scale(1.0);
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
        }
      }
      &:hover .project-title{
        visibility: visible;
      }
      img {
        height: 100%;
        width: 100%;
        @media (max-width: 400px) {
          height: 60%;
          width: 60%;
        }
      }
    }
}

}

.project-title {
  position: absolute;
  bottom: 0;
  top:46%;
  width: 100%;
  height: 100%;
  margin-left: 130px;
  visibility: hidden;
  a {
    font-family: $main_font;
    font-size: 1.3em;
    color: $white;
    background-color: rgba(0,0,0,0.7);
    padding: 1em;
  }
  @media (max-width: 400px) {
    margin-left: 100px;
  }
}

.container {
  padding-top: 10em;
	margin: 1em;
}
