.view-projects{
  table {
    margin-left: auto;
    margin-right: auto;
  }
}

tr {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
  td{
    padding: 0 2px;
    flex: 1 33%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    &:hover {
      -moz-transform: scale(1.1);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    &:hover .project-title{
      visibility: visible;
    }
  }
}

.project-title{
  position: absolute;
  bottom: 0;
  top:46%;
  width: 100%;
  height: 100%;
  margin-left: 200px;
  visibility: hidden;
}

.container {
	margin: 1em;
}
