.l-header {
	width: 100%;
	height: 850px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.video-container {
	width: 100%;
  height: 100%;
	overflow: hidden;
}
.video-container #heroVideo{
	position: absolute;
	margin-top: -2.1em;
	left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 3;
}
.site-name {
	span{
		z-index: 3;
		font-family: $main_font;
		font-weight: 700;
		position: relative;
		font-size: 3em;
		color: $header_color;
	}
	a {
		text-decoration: none;
		&:hover{
			color: $header_hover;
		}
	}
}

.site-slogan {
	z-index: 3;
	font-family: $main_font;
	font-size: 1.5em;
	position: relative;
	color: $header_color;
	text-align: center;
	&:hover {
		cursor: inherit;
	}
}
