.l-header {
	width: 100%;
	height: 650px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-attachment: fixed;
	@media(max-width: 400px){
		height: 850px;
	}
	@media(min-height: 900px){
		height: 1000px;
	}
}
.video-container {
	width: 100%;
  height: 100%;
	overflow: hidden;
}
.video-container #heroVideo{
	position: absolute;
	margin-top: -2.1em;
	left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 3;
	@media(max-width: 400px){
		margin-top: -13em;
	}
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
video {
	background-attachment: fixed;
	object-fit: cover;
	@media(max-width: 400px){
		height: 400px;
	}
}
.site-name {
	span{
		z-index: 3;
		font-family: $main_font;
		margin-top: -2.1em;
		font-weight: 700;
		position: relative;
		font-size: 3em;
		color: $header_color;
	}
	a {
		text-decoration: none;
		&:hover{
			color: $header_hover;
		}
	}
	@media(max-width: 400px){
		margin-top: -15em;
	}
}

.site-slogan {
	z-index: 3;
	font-family: $main_font;
	font-size: 1.5em;
	position: relative;
	color: $header_color;
	text-align: center;
	&:hover {
		cursor: inherit;
	}

}
