@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
	40% {
    transform: translateX(-30px);
  }
	60% {
    transform: translateX(-15px);
  }
}


.hamburger {
	position: absolute;
	display: block;
  top: 2rem;
  right: 0;
  z-index: 10;
	.hamburger-inner{
		background-color: #fff;
		&:before {
			background-color: #fff;
		}
		&:after {
			background-color: #fff;
		}
	}
}

.fa {
	color: $white;
	position: absolute;
	display: block;
  top: 24rem;
  right: 10px;
  animation: bounce 2s infinite;
}


.work {
	text-decoration: none;
	color: $white;
	font-family: $main_font;
	position: absolute;
	display: block;
  top: 24rem;
  right: 65px;
}

#block-system-main-menu{
    opacity: 0;
	.content {
		background-color: black;
		z-index: 10;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
	}

	ul li.leaf {
	  list-style-image: none;
	  list-style-type: none;
	}

	ul.menu {
	  border: none;
	  list-style: none;
	  text-align: left;

	  li {
	  	padding: 1rem;
		  a {
		  	position: relative;
		  	font-family: $main_font;
		  	font-weight: 700;
		  	text-decoration: none;
		  	color: #fff;
		  	font-size: 2.0em;
		  	&:before {
		  		content: "";
				  position: absolute;
				  width: 100%;
				  height: 6px;
				  bottom: 0;
				  left: 0;
				  background-color: $accent_color;
				  visibility: hidden;
					opacity: 0;
				  -webkit-transform: translateX(-30px);
				  transform: translateX(-30px);
				  -webkit-transition: all 0.3s ease-in-out 0s;
				  transition: all 0.3s ease-in-out 0s;
		  	}
				&:hover:before{
					visibility: visible;
					opacity: 0.9;
					-webkit-transform: translateX(0px) skewX(-30deg);
					transform: translateX(0px) skewX(-30deg);
				}
		  }
	  }
	}
}
